<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>email</title>
    <style>
        h1{
            color: red;
        }
    </style>
</head>
<body>
    <h3>Your OTP -</h3>
    <h1>{{otp}}</h1>
</body>
</html>